.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 35px;
}


nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    /* border: 2px solid royalblue; */
}

.nav-title {
    color: #181818;
    font-size: 20px;
    font-weight: 300;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.photo {
    display: flex;
}

.second-round {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

.hading-1 {
    font-size: 30px;
    font-weight: 300;


}

.hading-2 {
    font-size: 20px;
    font-weight: 150;
}

/* img style */
.img-costom {
    display: flex;
    justify-content: space-around;
    margin: 30px;

}

/* footer work */
.footer-section {
    border: 2px solid red;
    background-color: #181818;
    color: white;
    text-align: center;
}

/* main working */
.main-containar {
    text-align: center0;
    justify-content: center;
    display: flex;


}

.first-text {
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
}

/* card working start ///// */
.work-heading {
    text-align: center;
    font-size: 40px;
    font-weight: 300;


}

.work-view {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    width: 300px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect  card */
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Style for image */
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 16px;
}

/* Product nane */
.product-name {
    font-size: 20px;
}

/* bal ar kaj */
.main-heard {
    font-size: 20px;
}